<a href="https://colab.research.google.com/github/madhu8888/AnomalyDetection/blob/main/Metrics_visualise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Generate data

In [ ]:
!pip install import_ipynb
!pip install pyod

In [54]:
import numpy as np
import pandas as pd
import import_ipynb
import Data_generation as Data_generate
import Algo_evaluate as algo

In [66]:
d_set = ['Train', 'Test']
eval_met = ['Pre', 'Rec', 'Acc', 'F1']
cont_factor = np.arange(0.05,0.55,0.05)

In [67]:
def column_list(d_set, eval_met ):
  column_names = [];
  for j in d_set:
    for k in eval_met:
      column_names.append(j+"_"+k)
  return column_names;

In [68]:
column_names = column_list(d_set, eval_met);

# Vary contamination factor

In [69]:
from pyod.models.iforest import IForest
from pyod.models.ocsvm import OCSVM
from pyod.models.pca import PCA
from pyod.models.lof import LOF

In [115]:
def detect_outliers( cont_factor, clf, df_return ):
  tr_acc_lst =[];
  tr_pre_lst =[];
  tr_rec_lst =[];
  tr_f1_lst =[];
  tst_acc_lst =[];
  tst_pre_lst =[];
  tst_rec_lst =[];
  tst_f1_lst =[];
  for i in cont_factor:
    df = Data_generate.GenerateDataset(n_Gauss_comp=1, samples=100, cont=i, n_features=5 , num_cat=0 , missing_percent=0, cov_type="tied-sph", dep_per=0 , uni_low=10, uni_up=20, mu_low_range=20,mu_high_range=40)
    clf.contamination = i;
    train_accuracy , train_precision, train_recall, train_f1_score , test_accuracy , test_precision, test_recall, test_f1_score = algo.algo_metric_eval(df,clf );


    tr_acc_lst.append(train_accuracy);
    tr_pre_lst.append(train_precision);
    tr_rec_lst.append(train_recall);
    tr_f1_lst.append(train_f1_score);
    tst_acc_lst.append(test_accuracy);
    tst_pre_lst.append(test_precision);
    tst_rec_lst.append(test_recall);
    tst_f1_lst.append(test_f1_score);
						
  df_return['Train_Pre'] = tr_pre_lst;
  df_return['Train_Rec'] = tr_rec_lst;
  df_return['Train_Acc'] = tr_acc_lst;
  df_return['Train_F1'] = tr_f1_lst;

  df_return['Test_Pre'] = tst_pre_lst;
  df_return['Test_Rec'] = tst_rec_lst;
  df_return['Test_Acc'] = tst_acc_lst;
  df_return['Test_F1'] = tst_f1_lst;

  #return df_return

1. Isolation Forest

In [71]:
clf = IForest(random_state=42);

In [72]:
IF_Eval_Df = pd.DataFrame( columns = column_names)
IF_Eval_Df.insert(0, 'Cont_factor', cont_factor);

In [73]:
detect_outliers( cont_factor, clf, IF_Eval_Df )

In [74]:
IF_Eval_Df

,Cont_factor,Train_Pre,Train_Rec,Train_Acc,Train_F1,Test_Pre,Test_Rec,Test_Acc,Test_F1
0,0.05,1.000000,1.000000,1.000,1.000000,1.000000,1.000000,1.00,1.000000
1,0.10,1.000000,1.000000,1.000,1.000000,1.000000,1.000000,1.00,1.000000
2,0.15,1.000000,1.000000,1.000,1.000000,1.000000,1.000000,1.00,1.000000
3,0.20,1.000000,1.000000,1.000,1.000000,1.000000,1.000000,1.00,1.000000
4,0.25,1.000000,1.000000,1.000,1.000000,1.000000,1.000000,1.00,1.000000
5,0.30,0.982143,0.982143,0.975,0.982143,1.000000,1.000000,1.00,1.000000
6,0.35,0.942308,0.942308,0.925,0.942308,1.000000,0.923077,0.95,0.960000
7,0.40,0.895833,0.895833,0.875,0.895833,1.000000,0.833333,0.90,0.909091
8,0.45,0.863636,0.863636,0.850,0.863636,1.000000,0.909091,0.95,0.952381
9,0.50,0.875000,0.875000,0.875,0.875000,0.888889,0.800000,0.85,0.842105

2. PCA

In [65]:
clf = PCA( random_state=42)

In [75]:
PCA_Eval_Df = pd.DataFrame( columns = column_names)
PCA_Eval_Df.insert(0, 'Cont_factor', cont_factor);

In [76]:
detect_outliers( cont_factor, clf, PCA_Eval_Df )

In [77]:
PCA_Eval_Df

,Cont_factor,Train_Pre,Train_Rec,Train_Acc,Train_F1,Test_Pre,Test_Rec,Test_Acc,Test_F1
0,0.05,1.000000,1.000000,1.000,1.000000,1.000000,1.000000,1.00,1.000000
1,0.10,1.000000,1.000000,1.000,1.000000,1.000000,1.000000,1.00,1.000000
2,0.15,1.000000,1.000000,1.000,1.000000,1.000000,1.000000,1.00,1.000000
3,0.20,1.000000,1.000000,1.000,1.000000,1.000000,1.000000,1.00,1.000000
4,0.25,1.000000,1.000000,1.000,1.000000,1.000000,1.000000,1.00,1.000000
5,0.30,0.982143,0.982143,0.975,0.982143,1.000000,1.000000,1.00,1.000000
6,0.35,0.980769,0.980769,0.975,0.980769,1.000000,0.923077,0.95,0.960000
7,0.40,0.937500,0.937500,0.925,0.937500,1.000000,0.916667,0.95,0.956522
8,0.45,0.863636,0.863636,0.850,0.863636,1.000000,1.000000,1.00,1.000000
9,0.50,0.775000,0.775000,0.775,0.775000,0.857143,0.600000,0.75,0.705882

OCSVM

In [107]:
clf =  OCSVM( )

In [108]:
OCSVM_Eval_Df = pd.DataFrame( columns = column_names)
OCSVM_Eval_Df.insert(0, 'Cont_factor', cont_factor);

In [ ]:
detect_outliers( cont_factor, clf, OCSVM_Eval_Df )

In [110]:
OCSVM_Eval_Df

,Cont_factor,Train_Pre,Train_Rec,Train_Acc,Train_F1,Test_Pre,Test_Rec,Test_Acc,Test_F1
0,0.05,1.000000,1.000000,1.000,1.000000,1.0,0.947368,0.95,0.972973
1,0.10,1.000000,1.000000,1.000,1.000000,1.0,0.944444,0.95,0.971429
2,0.15,1.000000,1.000000,1.000,1.000000,1.0,1.000000,1.00,1.000000
3,0.20,1.000000,1.000000,1.000,1.000000,1.0,0.812500,0.85,0.896552
4,0.25,0.966667,0.966667,0.950,0.966667,1.0,0.866667,0.90,0.928571
5,0.30,1.000000,1.000000,1.000,1.000000,1.0,0.714286,0.80,0.833333
6,0.35,0.980769,0.980769,0.975,0.980769,1.0,0.538462,0.70,0.700000
7,0.40,0.937500,0.937500,0.925,0.937500,1.0,0.500000,0.70,0.666667
8,0.45,0.772727,0.772727,0.750,0.772727,1.0,0.727273,0.85,0.842105
9,0.50,0.725000,0.725000,0.725,0.725000,1.0,0.600000,0.80,0.750000

LOF

In [111]:
clf =  LOF( )

In [112]:
LOF_Eval_Df = pd.DataFrame( columns = column_names)
LOF_Eval_Df.insert(0, 'Cont_factor', cont_factor);

In [ ]:
detect_outliers( cont_factor, clf, LOF_Eval_Df )

In [114]:
LOF_Eval_Df

,Cont_factor,Train_Pre,Train_Rec,Train_Acc,Train_F1,Test_Pre,Test_Rec,Test_Acc,Test_F1
0,0.05,1.000000,1.000000,1.000,1.000000,1.0,1.000000,1.00,1.000000
1,0.10,0.986111,0.986111,0.975,0.986111,1.0,1.000000,1.00,1.000000
2,0.15,1.000000,1.000000,1.000,1.000000,1.0,1.000000,1.00,1.000000
3,0.20,0.984375,0.984375,0.975,0.984375,1.0,1.000000,1.00,1.000000
4,0.25,0.983333,0.983333,0.975,0.983333,1.0,1.000000,1.00,1.000000
5,0.30,1.000000,1.000000,1.000,1.000000,1.0,1.000000,1.00,1.000000
6,0.35,0.961538,0.961538,0.950,0.961538,1.0,1.000000,1.00,1.000000
7,0.40,0.958333,0.958333,0.950,0.958333,1.0,1.000000,1.00,1.000000
8,0.45,1.000000,1.000000,1.000,1.000000,1.0,0.909091,0.95,0.952381
9,0.50,0.925000,0.925000,0.925,0.925000,1.0,1.000000,1.00,1.000000

# Visualisation

In [ ]:
#Eval_dataframe

In [166]:
#Eval_dataframe = pd.DataFrame( columns = COLUMN_NAMES_LIST)

In [164]:
#COLUMN_NAMES_LIST =[]

In [ ]:
#for i in clf_list:
#  for j in d_set:
#    for k in eval_met:
#      print(i+"_"+j+"_"+k)
#      COLUMN_NAMES_LIST.append(i+"_"+j+"_"+k)

In [ ]:
df_vis = df_cont_fact['Cont_fact']

In [170]:
df = Data_generate.GenerateDataset(n_Gauss_comp=1, samples=100, cont=0.1, n_features=5 , num_cat=0 , missing_percent=0, cov_type="tied-sph", dep_per=0 , uni_low=10, uni_up=20, mu_low_range=20,mu_high_range=40)

In [163]:
#clf_list = ['PCA', 'IF', 'OCSVM', 'LOF']
#d_set = ['Train', 'Test']
#eval_met = ['Pre', 'Rec', 'Acc', 'F1']

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
def plot_metrics( x_lst, y_lst, x_axis , y_axis , x_lbl_lst , plot_title):
  plt.title(plot_title);
  plt.xlabel(x_axis);
  plt.ylabel(y_axis);
  for i in range(len(x_lst)):
    plt.plot( y_lst, x_lst[i] , label = x_lbl_lst[i])

  plt.legend()
  plt.show()

In [ ]:
x_lbl_lst = ['Train_acc','Test_acc']

In [ ]:
x_lst = []
x_lst.append(df_cont_factor['Train_acc']);
x_lst.append(df_cont_factor['Test_acc']);

In [ ]:
plot_metrics( x_lst, df_cont_factor['Cont_factor'] ,'cont_factor','accuracy',x_lbl_lst,'Accuracy')

In [ ]:

import numpy as np

plt.title('Accuracy')   
# plot lines
plt.plot(df_cont_factor['Cont_factor'], df_cont_factor['Train_acc'], label = "Train_Acc")
plt.plot(df_cont_factor['Cont_factor'], df_cont_factor['Test_acc'], label = "Test_Acc")
plt.legend()
plt.show()